{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}

{% block cardContent %}
    <div style="overflow-x: auto;">
        {{ page.content|raw }}
    </div>
{% endblock %}
