{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'NewsletterSubscribe'|trans }}{% endblock %}

{% block cardContent %}
    <div class="alert alert-success m-5">
        {{ 'SuccessfullySubscribedToNewsletter'|trans }}
    </div>
{% endblock %}
