<div class="modal fade" id="swiperModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-dark">
            <div class="modal-body p-0">
                {{ include('track/components/swiper/_swiper.html.twig', {track}) }}
            </div>
        </div>
    </div>
</div>
