<div class="swiper h-100 w-100" {{ stimulus_controller('swiper') }}>
    <div class="swiper-wrapper">
        {% for attachment in track.attachments %}
            <div class="swiper-slide d-flex justify-content-center align-items-center">
                <div class="swiper-zoom-container">
                    {{ include('track/components/preview/_full_preview.html.twig', {attachment}) }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if track.multipleAttachments %}
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    {% endif %}
</div>
