<div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen p-5">
        <div id="attachmentCarousel" class="carousel slide bg-dark d-flex justify-content-center">
            <div class="carousel-inner vw-90 vh-90">
                {% for attachment in track.attachments %}
                    <div class="carousel-item {{ loop.first ? 'active' }} h-100">
                        {{ include('attachment/_attachment.html.twig', {attachment}) }}
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#attachmentCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#attachmentCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
