<div class="fs-5">
    Les traces sont la mémoire vivante du mouvement des Gilets jaunes. Venez les découvrir <a href="{{ path('track_list') }}" class="link-dark">ici</a> !

    Nous vous conseillons de <a href="{{ path('app_sign_up') }}" class="link-dark">créer un compte</a>,

    c’est rapide et facile ! Cela vous permettra d’accéder à vos traces et de les modifier si vous le souhaitez.
    Cependant, un compte n’est pas obligatoire pour ajouter une <b>trace</b>.

    Si vous avez déjà un compte, connectez-vous <a href="{{ path('app_login') }}" class="link-dark">ici</a>.

    C’est à vous de jouer !
</div>
