{% if is_granted('EDIT', track) %}
    <a
        href="{{ path('track_edit', {id: track.id}) }}"
        class="btn btn-warning ms-4"
        {{ stimulus_controller('tooltip', {text: 'Edit'|trans}) }}
    >
        <i class="fa fa-pencil"></i>
    </a>
{% endif %}
