{% if value is defined %}
    <p>
        {% if label is defined and label is not null %}
            <span>{{ label }} :</span>
            <u> {{ value }}</u>
        {% else %}
            <span class="fs-4">{{ value }}</span>
        {% endif %}
    </p>
{% endif %}
