{% set collectiveUrl = track.collective is null ? null : path('collective_show', { id: track.collective.id }) %}
{% set fields = noName is defined ? [] : [{ label: null, value: track.name }] %}
{% set fields = fields|merge([
    { label: 'Category'|trans, value: track.kindName },
    { label: 'Tags'|trans, value: track.tagsAsString },
    { label: 'Region'|trans, value: track.regionName },
    { label: 'Location'|trans, value: track.location },
    { label: 'Year'|trans, value: track.year },
    { label: 'Collective'|trans, value: track.collectiveName, url: collectiveUrl },
    { label: 'Description'|trans, value: track.description },
]) %}

<div class="mt-4" style="word-wrap: break-word">
    {% for field in fields|filter(f => f.value is not null and f.value != '') %}
        {{ include('track/components/_information_row.html.twig', {
            label: field.label,
            value: field.value,
            url: field.url ?? null,
        }) }}
    {% endfor %}
    {% if track.hasFaces %}
        {{ include('track/components/_information_row.html.twig', {value: 'ThisTrackHasFaces'|trans, small: true}) }}
    {% endif %}
</div>
