{% set collectiveUrl = track.collective is null ? null : path('collective_show', { id: track.collective.id }) %}
{% set fields = noName is defined ? [] : [{ label: null, value: track.name }] %}
{% set fields = fields|merge([
    { label: 'Category'|trans, value: track.kindName },
    { label: 'Tags'|trans, value: track.tagsAsString },
    { label: 'Region'|trans, value: track.regionsAsString },
    { label: 'Location'|trans, value: track.location },
    { label: 'Year'|trans, value: track.yearsAsString },
    { label: 'Collective'|trans, value: track.collectiveName, url: collectiveUrl },
]) %}

<div class="mt-4" style="word-wrap: break-word">
    {% for field in fields|filter(f => f.value is not null and f.value != '') %}
        {{ include('track/components/_information_row.html.twig', {
            label: field.label,
            value: field.value,
            url: field.url ?? null,
        }) }}
    {% endfor %}
    {% if hideDescription is not defined %}
        {{ include('track/components/_information_row.html.twig', {
            label: 'Description'|trans,
            value: track.description,
            notUnderlined: true,
        }) }}
        {% if track.hasFaces %}
            <div class="card bg-light-subtle mt-4 p-2">
                {{ include('track/components/_information_row.html.twig', {value: 'ThisTrackHasFaces'|trans, small: true}) }}
            </div>
        {% endif %}
    {% endif %}
</div>
