<div class="col-12 col-sm-5 text-start flex-grow-1">
    {{ include('track/components/_previous_next_track.html.twig', {track}) }}
    {{ include('track/components/_information_rows.html.twig', {track}) }}
</div>
