<div class="col-12">
    {% if track.mediaType == 'video' %}
        {{ include('track/components/_track_video.html.twig', {track}) }}
    {% else %}
        {{ include('track/components/_preview_image_thumb.html.twig', {track}) }}
    {% endif %}
</div>