<div class="row" id="trackPreviewIframeContainer" style="{{ size is defined ? 'height: '~size~'px;width: '~size~'px;' : '' }}">
    <div class="col-12">
        {{ include('track/components/_preview_thumb.html.twig', {track}) }}
    </div>
    <div class="col-12 text-start">
        {% if noRows is not defined %}
            {{ include('track/components/_information_rows.html.twig', {track}) }}
        {% endif %}
    </div>
</div>
