<div class="row" id="trackPreviewIframeContainer">
    <div class="col-12">
        {{ include('track/components/_preview_thumb.html.twig', {track}) }}
    </div>
    <div class="col-12 text-start">
        {{ include('track/components/_information_rows.html.twig', {track}) }}
    </div>
</div>
