<div class="col-12">
    <div class="d-flex flex-wrap justify-content-start px-md-3" {{ stimulus_target('async_search', 'container') }}>
        {{ include('track/components/_list.html.twig', {tracks}) }}
    </div>
</div>
{{ include('components/_loader.html.twig') }}
