{% if track.mediaType == 'video' %}
    {{ include('track/components/_track_video.html.twig', {track}) }}
{% elseif track.thumbnailUrl is defined %}
    {% if noCarousel is defined %}
        {{ include('track/components/_track_image_inner.html.twig', { track }) }}
    {% else %}
        <a class="btn btn-link w-100" href="{{ path('track_carousel', {id: track.id}) }}">
            {{ include('track/components/_track_image_inner.html.twig', { track }) }}
        </a>
    {% endif %}
{% endif %}
