<div
    class="track-preview-iframe-container w-100 h-100"
    style="
        {% if size %}
            height: {{ size }}px;
            width: {{ size }}px;
        {% else %}
            min-height: 300px;
        {% endif %}
    "
>
    {{ track.videoEmbed|raw }}
</div>
