{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <p class="text-center text-lg">{{ 'YouHaveBeenInvitedToJoinCollective'|trans({ '%collectiveName%': collective.name }) }}</p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    <button href="{{ url('app_sign_up') }}">{{ 'CreateAccount'|trans }}</button>
                </center>
            </columns>
        </row>
        {{ include('email/_signature.html.twig') }}
    </container>
{% endapply %}
