{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'SignUpSuccess'|trans}}{% endblock %}

{% block cardContent %}
    <div class="text-start p-1 p-sm-2 p-md-4 p-lg-5">
        <p class="fs-4">
            {{ 'SignUpSuccessSubtitle'|trans({'%emailAddress%': email}) }}
        </p>
        <div class="text-center">
            <a class="btn btn-lg btn-success mt-3" href="{{ path('app_login') }}">
                {{ 'BackToLogin'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
