{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'SignUp'|trans}}{% endblock %}

{% block cardContent %}
    <div class="text-start p-1 p-sm-2 p-md-4 p-lg-5">
        {{ include('user/_form.html.twig', { button_label: 'ValidateSignUp'|trans }) }}
    </div>
{% endblock %}

{% block afterCard %}
    <div class="text-center">
        <a class="btn btn-lg btn-primary mt-3 text-muted" href="{{ path('app_login') }}">
            {{ 'AlreadyHaveAccount'|trans }}
        </a>
    </div>
{% endblock %}
