{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block content %}
    <main class="px-3">
      <h1>{{ 'home_title'|trans }}</h1>
      <p class="lead">{{ 'home_subtitle'|trans }}</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">{{ 'know_more'|trans }}</a>
      </p>
    </main>
{% endblock %}
