includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - message: "#^Property App\\\\Entity\\\\.*\\:\\:\\$id \\(int\\|null\\) is never assigned int so it can be removed from the property type\\.$#"