<div class="row">
    <span>{{ 'TrackKind'|trans }}</span>
    <div class="col-md-12 mt-2">
        {% for kind in kinds %}
            <span class="badge text-bg-primary text-white">{{ kind.name }}</span>
        {% endfor %}
    </div>
</div>
