{% extends 'base.html.twig' %}

{% block title %}{{ 'Track'|trans }}{% endblock %}

{% block content %}
    <div class="text-dark vw-100 vh-100 position-absolute top-0 start-0 z-1k1">
        {{ include('track/components/_carousel.html.twig', {track}) }}
    </div>
{% endblock %}
