{% extends 'base.html.twig' %}

{% block title %}{{ 'TracksListTitle'|trans }}{% endblock %}
{% block bodybg %}light{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12 text-center text-dark mt-3 plaine">{{ 'TracksListTitle'|trans }}</h1>
        <div class="col-12 col-sm-10 offset-sm-1 h-100">
            <div class="row px-3">
                {% for track in tracks %}
                    {{ include('track/components/_thumbnail.html.twig', {track}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
