{% extends 'base.html.twig' %}

{% block title %}{{ 'Tracks'|trans }}{% endblock %}

{% block content %}
    <div class="h-100 row bg-light">
        {{ include('track/components/_form.html.twig') }}
    </div>
{% endblock %}
