{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}

{% block content %}
    <div class="row bg-info text-dark p-3 h-100">
        <div>{{ include('components/_back.html.twig') }}</div>
        <h1 class="col-12">{{ 'Track'|trans }} : {{ track.name }}</h1>
        <div class="col-12">
            {% for attachment in track.attachments|filter(attachment => attachment.url is not empty) %}
                {{ include('attachment/_attachment.html.twig', { attachment }) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
