<a class="btn btn-link p-0 overflow-hidden position-relative thumbnail-image d-flex justify-content-center align-items-center"
   href="{{ track.needsModeration ? path('moderate_track', {id: track.id}) : path('track_show', {id: track.id}) }}"
>
    {{ include('track/components/preview/_thumbnail_image_content.html.twig', {track}) }}
</a>
