<div class="p-0 overflow-hidden position-relative thumbnail-image d-flex justify-content-center align-items-center">
    {{ include('track/components/preview/_thumbnail_image_content.html.twig', {track}) }}
</div>
