<div class="top-left-corner z-1k">
    <div id="autocomplete" class="autocomplete-container position-relative border border-success border-2"></div>
    {% if showDisclaimer is defined %}
        <div class="alert bg-secondary text-left position-absolute rounded-0 alert-dismissible fade show p-2 line-height-1 pe-3 pt-3" style="top: calc(100% + 4px)" role="alert">
            <button type="button" class="btn-close p-1" data-bs-dismiss="alert" aria-label="Close"></button>
            <span class="text-left fs-7">{{ 'AndNowHint'|trans|nl2br }}</span>
        </div>
    {% endif %}
</div>
