{% set maps = [ 'mapGuadeloupe', 'mapMartinique', 'mapReunion', 'mapMayotte', 'mapGuyane' ] %}
<div class="position-absolute border-3 border-success"
     id="dromsMapsContainer"
     style="right: 0; bottom: 40px; z-index: 1000; border-style: solid"
>
    {% for map in maps %}
        <div
            id="{{ map }}"
            class="border-3 border-success"
            style="width: 100px; height: 100px; border-style: solid"
        >
        </div>
    {% endfor %}
</div>
