{% set maps = [ 'mapGuadeloupe', 'mapMartinique', 'mapReunion', 'mapMayotte', 'mapGuyane' ] %}
<div class="row d-flex justify-content-center">
    {% for map in maps %}
        <div class="col-12 col-sm-6 col-md-4 mt-2">
            <div id="{{ map }}" class="border border-3 border-success w-100" style="min-height: 40vh"></div>
        </div>
    {% endfor %}
</div>
