{% extends 'base.html.twig' %}

{% block title %}{{ 'FollowUps'|trans }}{% endblock %}

{% block bodybg %}primary{% endblock %}

{% block content %}
    <div
            id="map"
            class="box-shadow-white"
            style="height: 100%; width: 100%"
            {{ stimulus_controller('map', {collectives}) }}
    >
    </div>
{% endblock %}
