<div class="col h-100">
    <div class="card d-flex align-items-center">
        <img style="width: 50px" class="me-2" src="{{ action.iconPublicPath }}"  alt="{{ action.name }}"/>
        <div>{{ action.name }}</div>
    </div>
</div>
