{% extends 'base.html.twig' %}

{% block title %}{{ 'ResetPassword'|trans}}{% endblock %}
{% block bodybg %}light{% endblock %}

{% block content %}
    <h1 class="col-12 text-center text-dark mt-3">{{ 'ResetPassword'|trans }}</h1>

    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card p-5">
            <p>
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>
    </div>
    {% endblock %}
