{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'AcceptTerms'|trans}}{% endblock %}

{% block cardContent %}
        {{ include('legal/_accept_terms_accordion.html.twig') }}

        <div class="text-end mt-5">
            <a class="btn btn-primary btn-lg" href="{{ path('app_do_accept_terms') }}">{{ 'IRedAndAccept'|trans }}</a>
        </div>
{% endblock %}
