<div class="col-12" id="select_ways_buttons">
    <div class="row">
        <div class="col-6 mt-4 d-flex">
            <div class="row flex-grow-1">
                <button type="button"
                        class="btn btn-dark btn-lg col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3"
                        style="min-height: 100px;"
                        {{ stimulus_controller('toggle_element', {
                            showElementId: 'upload_files_container',
                            hideElementId: 'copy_video_url_container',
                            hideSecondElementId: 'select_ways_buttons',
                        })|stimulus_action('toggle_element', 'show') }}
                >
                    {{ 'ImportFile'|trans }}
                </button>
            </div>
        </div>
        <div class="col-6 mt-4 d-flex">
            <div class="row flex-grow-1">
                <button type="button"
                        class="btn btn-dark btn-lg col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3"
                        style="min-height: 100px;"
                        {{ stimulus_controller('toggle_element', {
                            showElementId: 'copy_video_url_container',
                            hideElementId: 'upload_files_container',
                            hideSecondElementId: 'select_ways_buttons',
                        })|stimulus_action('toggle_element', 'show') }}
                >
                    {{ 'CopyLink'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
