{% set showWidget = track.hasAttachments and not track.video %}

<div class="col-12 mt-4 {{ showWidget ? '' : 'hidden' }}" id="upload_files_container">
    {{ include('components/upload/_uppy_widget.html.twig', { track }) }}
</div>
