<div class="text-dark h-100 p-2 flex-column">
    <div class="p-4 pt-0">
        <div class="row">
            <div class="col-12 col-sm-7 d-none d-sm-flex flex-column justify-content-center">
                {{ include('track/new/_step_preview.html.twig', {track, showInformation: false}) }}
            </div>
            <div class="col-12 col-sm-5 text-start">
                {{ include('track/components/_information_rows.html.twig', {track}) }}

                {% if track.contactEmail is not null %}
                    <div class="alert alert-primary rounded-0 mt-4">
                        <span class="fs-6"><i class="fa fa-envelope me-2"></i>{{ 'PublishDisclaimer'|trans }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
