<div class="row">
    <div class="col-12 mt-4 {{ track.hasVideo ? '' : 'hidden' }}" id="copy_video_url_container">
        <h5>{{ 'CopyResourceLink'|trans }}</h5>
        {{ form_widget(form.url, {attr: {
            'data-video-preview-target': 'input',
            'data-action': 'video-preview#preview',
        }}) }}
        <img src="" class="w-100 mt-3" alt="" {{ stimulus_target('video-preview', 'preview') }} style="max-width: 90vw" />
    </div>
</div>
