<div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-end mt-3">
            <button class="btn btn-success">{{ 'Create'|trans }}</button>
        </div>
    {{ form_end(form) }}
</div>
