{% extends 'base.html.twig' %}

{% block title %}{{ 'CreateCollective'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/@geoapify/geocoder-autocomplete@2.0.3/styles/minimal.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-12 col-md-6 offset-md-3 ">
        <div class="card p-4">
            {{ include('components/_back.html.twig') }}
            <br/>
            {{ include('collective/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
