{% if track.description is not null %}
    <br/>
    <span style="word-wrap: break-word">
        <span>{{ 'Description'|trans }} :</span>
        <span>{{ track.description|nl2br }}</span>
    </span>
    <br/>
{% endif %}
