{% extends 'base.html.twig' %}

{% block title %}{{ 'Tracks'|trans }}{% endblock %}

{% block content %}
    <div class="h-100 d-flex flex-column justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 p-4">
            {{ include('components/upload/_uppy_widget.html.twig') }}
        </div>
    </div>
{% endblock %}
