{% set collectives = app.user.collectives %}

{% if collectives|length > 0 %}
    {% for collective in collectives %}
       {{ include('user/account/_collective.html.twig', { collective }) }}
    {% endfor %}
{% else %}
    <div class="alert alert-info" role="alert">
        {{ 'NoCollectives'|trans }}
    </div>
{% endif %}
