{% set tracks = app.user.tracks %}

<div class="text-end">
    <a href="{{ path('track_new') }}" class="btn btn-primary">{{ 'CreateTrack'|trans }}</a>
</div>

{% if tracks|length > 0 %}
    {% for track in tracks %}
        {{ include('user/account/_track.html.twig', {track}) }}
    {% endfor %}
{% else %}
    <div class="alert alert-info" role="alert">
        {{ 'NoCollectives'|trans }}
    </div>
{% endif %}
