{% extends 'base.html.twig' %}

{% block title %}{{ 'ModerationTitle'|trans }}{% endblock %}
{% block bodybg %}warning{% endblock %}

{% block content %}
    <div class="row h-100">
        <h1 class="col-12 text-center text-dark mt-3">{{ 'ModerationTitle'|trans }}</h1>
        <div class="col-12 col-md-10 offset-md-1 h-100">
            {{include('track/components/_tracks_list.html.twig', {tracks}) }}
        </div>
    </div>
{% endblock %}
