{% extends 'base.html.twig' %}

{% block title %}Moderation{% endblock %}
{% block bodybg %}warning{% endblock %}

{% block content %}
    <div class="text-dark h-100 p-2 flex-column">
        <h1>{{ track.name }}</h1>
        <div class="p-4">
            <div class="row">
                <div class="col-12 col-sm-7">
                    {{ include('track/components/glider/_glider.html.twig', {track}) }}
                </div>
                <div class="col-12 col-sm-5 text-start">
                    {{ include('track/moderation/_moderate_buttons.html.twig', {track}) }}
                    {{ include('track/components/_information_rows.html.twig', {track}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
