<div class="collapse navbar-collapse" id="navbarNav">
    <div class="h-100 d-flex align-items-stretch fs-4 justify-content-between d-flex flex-column flex-lg-row position-relative">
        {{ include('components/header/_header_actions.html.twig', { actions } ) }}
    </div>
</div>
