{% set icons = [
    {href: '#', classes: 'fa-brands fa-facebook-f'},
    {href: '#', classes: 'fa-brands fa-instagram'},
    {href: path('subscribe_newsletter'), classes: 'fa-envelope fa-regular'},
] %}

{% set isMobile = isMobile is defined %}

{% set containerClasses = isMobile 
    ? 'bg-light d-flex d-lg-none flex-row justify-content-center align-items-center'
    : 'bottom-left bg-dark d-none d-lg-block'
%}

<div class="{{ containerClasses }}">
    {% for icon in icons %}
         <div class="p-2">
             <a href="{{ icon.href }}">
                <i class="{{ icon.classes }} fs-5 text-{{ isMobile ? 'dark' : 'light' }} social-icon"></i>
            </a>
         </div>
    {% endfor %}
</div>
