{% set icons = ['fa-brands fa-facebook-f', 'fa-brands fa-instagram', 'fa-envelope fa-regular'] %}

<div class="bottom-left bg-dark d-none d-lg-block">
    {% for icon in icons %}
         <div class="p-2">
             <i class="{{ icon }} fs-5 text-light social-icon"></i>
         </div>
    {% endfor %}
</div>
