:root {
    --bs-primary: #C2AA6E;
    --bs-primary-rgb: 194, 170, 110;
    --bs-secondary: #8D5799;
    --bs-secondary-rgb: 141, 87, 153;
    --bs-info: #569681;
    --bs-info-rgb: 86, 150, 129;
    --bs-danger: #ff7979;
    --bs-danger-rgb: 255, 121, 121;
}

#map {
    height: 180px;
    width: 180px;
}

.cover-container {
    padding-top: 66px !important;
}

a.hoverable:hover {
    background-color: var(--bs-light) !important;
}

a.hoverable-primary:hover {
    background-color: var(--bs-primary) !important;
}

a.hoverable-secondary:hover {
    background-color: var(--bs-secondary) !important;
}

a.hoverable-danger:hover {
    background-color: var(--bs-danger) !important;
}

a.hoverable-dark:hover {
    background-color: var(--bs-dark) !important;
}

div.dropzone-container {
    border: 4px dashed var(--bs-danger);
    background-color: var(--bs-light);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--bs-danger);
}

div.dropzone-container .dropzone-placeholder {
    color: var(--bs-danger);
    font-size: 1.5rem;
}
/*body {*/
/*    background: linear-gradient(-45deg, var(--bs-primary), var(--bs-secondary), var(--bs-info));*/
/*    background-size: 400% 400%;*/
/*    -webkit-animation: Gradient 15s ease infinite;*/
/*    -moz-animation: Gradient 15s ease infinite;*/
/*    animation: Gradient 15s ease infinite;}*/
/*@-webkit-keyframes Gradient {*/
/*    0% {background-position: 0% 50%}*/
/*    50% {background-position: 100% 50%}*/
/*    100% {background-position: 0% 50%}*/
/*}*/
/*@-moz-keyframes Gradient {*/
/*    0% {background-position: 0% 50%}*/
/*    50% {background-position: 100% 50%}*/
/*    100% {background-position: 0% 50%}*/
/*}*/
/*@keyframes Gradient {*/
/*    0% {background-position: 0% 50%}*/
/*    50% {background-position: 100% 50%}*/
/*    100% {background-position: 0% 50%}*/
/*}*/