/* Override some Bootstrap variables */
$success: #6FBCA2;
$primary: #E1D657;
$secondary: #6FBCA2;
$warning: #ffbe76;
$info: #71B6E6;
$danger: #ff7979;
$dark: #1e272e;
$light: #ECE4DB;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import 'fonts';
@import 'forms';
@import 'header';
@import 'home';
@import 'map';
@import 'tomselect';
@import 'uppy';
@import 'utilities';
@import 'position_utilities';
@import 'tracks';

body {
    font-family: AkzidenzGrotesk-Medium, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top 0 center;
    @include media-breakpoint-up(lg) {
        background-position: top 0 left 0;
    }
    background-size: cover;
    background-image: url('../images/bg.jpg');
    transition: padding 3s ease-in-out;
}

@each $color, $value in $theme-colors {
    .hoverable-#{$color}:hover {
        background-color: darken($value, 30%) !important;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

iframe {
    max-width: 100%;
}

.alert {
    border-radius: 0;
}

.mw-sm-60 {
    max-width: 60%;
    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }
}
