/* Override some Bootstrap variables */
$primary: #CBC259;
$secondary: #6DCCAE;
$info: #EAEBDD;
$light: #E97C30;
$danger: #ff7979;
$dark: #1e272e;


@import '../../vendor/twbs/bootstrap/scss/bootstrap';

@font-face {
    font-family: "AkzidenzGrotesk-Medium";
    src: url('../fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AkzidenzGrotesk-Bold";
    src: url('../fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: AkzidenzGrotesk-Medium, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    //background-image: url('../images/bg-mobile.jpg');
    background-image: url('../images/bg.jpg');
}

.fs-xs {
    font-size: 0.75rem !important;
}

.cloudy {
    max-width: 90%;
    margin: 16px;
    filter: url(#cloudy);
}

.cloudy-sm {
    filter: url(#cloudy-sm);
}

.nav-link {
    text-transform: uppercase;
    color: white;
    margin: 4px;
    margin-right: 0;
}



nav.navbar {
    min-height: 60px;
    @include media-breakpoint-up(md) {
        height: 60px;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.mh-150px {
    max-height: 150px;
    @include media-breakpoint-up(sm) {
        max-height: 200px;
    }
    @include media-breakpoint-up(md) {
        max-height: 250px;
    }
}

.home-title {
    width: 100%;

    @include media-breakpoint-up(sm) {
        width: 350px;
    }
    @include media-breakpoint-up(md) {
        width: 500px;
    }
    @include media-breakpoint-up(lg) {
        width: 600px;
    }
}
.home-button {
    @include media-breakpoint-down(md) {
        width: 100%;

        &.left {

        }
        &.right {
            position: absolute;
            top: 25%;
            text-align: end !important;
        }
    }
}

#map {
    height: 180px;
    width: 180px;
}

.cover-container {
    padding-top: 66px !important;
}

@each $color, $value in $theme-colors {
    a.hoverable-#{$color} {
        &:hover {
            background-color: $value !important;
            color: white;
        }
    }

    button.btn-#{$color}, a.btn-#{$color} {
        color: white !important;
        &:hover {
            color: white !important;
        }
    }
}

#contributeButton {
    margin: 4px;
    .contribute-modal{
        visibility: hidden;
        position: absolute;
        cursor: auto;
        top: 100%;
        right: 50px;
        width: calc(100vw - 100px);
        min-height: calc(100vh - 100% - 50px);
        z-index: 1;
        border: 3px solid $light;
    }

    &:hover {
        .contribute-modal{
            visibility: visible;
        }
    }
}

.rotate-back {
    transform: rotate(-5deg);
}

.rotate {
    transform: rotate(5deg);
}

.ts-control {
    border: none;
}
