@font-face {
  font-family: "AkzidenzGrotesk-Medium";
  src: url('../fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGrotesk-Bold";
  src: url('../fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "plaine";
  src: url('../fonts/laPlaine.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.plaine {
  font-family: plaine, sans-serif;
}

.grotesk {
  font-family: AkzidenzGrotesk-Medium, sans-serif;
}

h1, h2, h3, h4, h5, .btn, .nav-link, label {
  font-family: plaine, sans-serif;
}

.fs-xs {
  font-size: 0.75rem !important;
}

.fs-7 {
  font-size: 0.95rem !important;
  line-height: 1.1rem !important;
}

.word-break {
  word-wrap: break-word;
}

.line-height-1 {
  line-height: 1rem !important;
}
