
form {
  .vertical-form {
    label {
      width: 100%;
    }
  }

  input, select {
    height: 48px;
  }

  input[role="combobox"] {
    height: auto;
  }

  input.form-control {
    font-size: 13px;
    padding-left: 16px;
    color: #757575;
    &::placeholder {
      color: #757575;
    }
  }

  // TomSelect
  .ts-control {
      border: none;
  }

  .form-control {
    border-radius: 0;
  }

  .form-select {
    border-radius: 0;
  }

  .col-form-label {
    width: auto;
  }
}

.btn {
  border-radius: 0;
}
