.nav-link {
  height: 50px;
  color: $dark !important;
  &:hover {
    color: $dark !important;
  }
  border-color: $dark;
  border-style: solid;
  border-width: 3px 0 3px 3px;
  @include media-breakpoint-down(lg) {
    border-width: 0 3px 3px 3px;
    &:first-of-type {
      border-width: 3px 3px 3px 3px;
    }
  }
}

.modal {
  .hoverable-submenu > .nav-link {
      border-width: 0 3px 0 3px;
  }

  .submenu {
    .nav-link {
      border-left: 8px solid black;
      border-right: 8px solid black;
    }
  }
}

nav.navbar {
  height: 50px;
  .hoverable-submenu {
    height: 50px;
  }

  .hoverable-submenu {
    .submenu {
      display: none;

      .nav-link {
        display: flex;
        margin: 0;
        border-color: $dark;
        border-style: solid;
        border-width: 3px 3px 0 3px;
        &:first-of-type {
          border-width: 0 3px 0 3px;
        }
        &:last-of-type {
          border-width: 3px 3px 3px 3px
        }
      }
    }

    &:hover {
      .submenu {
        display: flex;
      }
    }
  }

  .collapsing {
    position: absolute;
    right: 0;
    top: 100%;
    background: $dark;
    width: 100%;
    max-width: 576px;

    &.show {
      width: 100%;
      max-width: 576px;
      position: absolute;
      right: 0;
      top: 100%;
      background: $dark;
    }
  }
}
