.nav-link {
  min-height: 42px;
  padding-top: 4px;
  min-width: 140px;
  color: $dark !important;
  &:hover {
    color: $dark !important;
  }
  border-color: $dark;
  border-style: solid;
  border-width: 4px 4px 4px 0;
  @include media-breakpoint-down(lg) {
    border-width: 0 4px 4px 4px;
    &:first-of-type {
      border-width: 4px 4px 4px 4px;
    }
  }
}

.modal {
  .hoverable-submenu {
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: $dark;
  }

  .hoverable-submenu > .nav-link {
      border-width: 0;
  }

  .submenu {
    .nav-link {
      border-width: 0;
      font-size: 1rem !important;
    }
  }
}

nav.navbar {
  height: 42px;
  .hoverable-submenu {
    height: 42px;
    position: relative;
    .submenu {
      display: none;
      word-wrap: break-word;
      white-space: normal;
      width: calc(100% + 4px);
      position: absolute;
      left: -4px;

      .nav-link {
        display: flex;
        margin: 0;
        border-color: $dark;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        height: auto;
        font-size: 1rem !important;
        line-height: 1.5rem;
        padding: 0.5rem 0 0.5rem 0 !important;
        &:first-of-type {
          border-width: 4px 4px 0 4px;
          margin-top: -4px;
        }
        &:last-of-type {
          border-width: 4px 4px 4px 4px
        }
      }
    }

    &:hover {
      .submenu {
        display: flex;
      }
    }
  }

  .collapsing {
    position: absolute;
    right: 0;
    top: 100%;
    background: $dark;
    width: 100%;
    max-width: 576px;

    &.show {
      width: 100%;
      max-width: 576px;
      position: absolute;
      right: 0;
      top: 100%;
      background: $dark;
    }
  }
}
