.geoapify-autocomplete-item {
  text-align: left;
}

.geoapify-autocomplete-input {
  width: 100% !important;
}

.autocomplete-container {
  min-width: 250px;

  @include media-breakpoint-up(lg) {
    min-width: 400px;
  }
}

.geoapify-autocomplete-item {
  .address {
    color: $dark;
  }
}

#map {
  height: 180px;
  width: 180px;
}

#dromsMapsContainer {
  @include media-breakpoint-down(lg) {
    width: 95%;
    bottom: auto !important;
    > div {
        min-height: 200px;
        width: 100% !important;
    }
  }
}

.map-autocomplete-container {
  left: 50px;
  top: 50px;
  @include media-breakpoint-up(lg) {
    top: 5px;
  }
  z-index: 1000;
  border-style: solid;
}
