.geoapify-autocomplete-item {
  text-align: left;
}

.geoapify-autocomplete-input {
  width: 100% !important;
}

.autocomplete-container {
  min-width: 250px;

  @include media-breakpoint-up(lg) {
    min-width: 400px;
  }
}

.geoapify-autocomplete-item {
  .address {
    color: $dark;
  }
}

#map {
  height: 180px;
  width: 180px;
}

.map-autocomplete-container {
  left: 50px;
  top: 50px;
  @include media-breakpoint-up(lg) {
    top: 5px;
  }
}
