form {
  .ts-wrapper {
    padding: 1px 0.75rem 1px 0.75rem;

    .ts-control {
      background: transparent;
      border: none;
      input {
        font-size: 17px;
      }
    }

    .ts-dropdown {
      .option {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .tomselect-checkbox {
        appearance: none;
        border-radius: 50%;
        border: 1px solid $dark;
        height: 14px;
        width: 14px;

        &.ts-checked {
          background-color: $primary;
        }
      }
    }
  }
}
