#trackPreviewIframeContainer {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.track-preview-iframe-container {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.thumbnail {
  height: 150px;
  width: 150px;
  background-color: $dark;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
