#trackPreviewIframeContainer {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.track-preview-iframe-container {
  iframe {
    min-height: 400px;
    width: 100%;
    height: 100%;
  }
}

.thumbnail {
  height: 150px;
  width: 150px;
  background-color: $dark;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.thumbnail-image {
  height: 150px;
  width: 100%;
  min-width: 150px;
}

.pswp__bullets-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.pswp__bullet {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    margin: 0 5px;
}

.pswp__bullet--active {
    background: $primary;
}

.pswp__zoom-level-indicator {
    background: $primary;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    height: auto;
    align-self: center;
    padding: 4px 6px 5px;
    margin-right: 4px;
}

.glide__bullets {
    max-height: 18px;
    bottom: auto;
    top: 2em;
    .glide__bullet {
        width: 18px;
        height: 18px;

        &.glide__bullet--active {
            background-color: $primary;
        }
    }
}

.glide__arrows {
    .btn.btn-primary {
        position: absolute;
        display: block;
        top: 50%;
        z-index: 2;
    }
}

.glide {
    li {
        height: 100%;
        object {
            height: 100%;
        }
    }
}
