.hover-no-rotate:hover {
  transform: none !important;
}

.hover-rotate-10:hover {
  transform: rotate(-10deg);
}

.hover-rotate-5:hover, .btn:hover {
  transform: rotate(-2deg);
}

.mnh-100 {
  min-height: 100%;
}

.mnvh-80 {
  min-height: 80vh;
}

.mvh-90 {
    max-height: 90vh;
 }

.mvh-100 {
    max-height: 100vh;
 }

.vh-90 {
  height: 90vh;
}

.vw-90 {
  width: 90vh;
}

.size-100p {
  width: 100px;
  height: 100px;
}

.mh-150px {
  max-height: 150px;
  @include media-breakpoint-up(md) {
    max-height: 200px;
  }
}

.mh-50px {
  max-height: 50px;
  @include media-breakpoint-up(md) {
    max-height: 80px;
  }
}

.mh-70px {
  max-height: 70px;
  @include media-breakpoint-up(md) {
    max-height: 90px;
  }
}

.border-default {
  border: 5px solid $black;
}

.pt-100vh {
  padding-top: 100vh;
}

.hidden {
  position: absolute;
  left: -9999px;
}

.hover-underline:hover {
  text-decoration: underline;
  transform: none;
}

#collectiveDetailsModalActions > div {
  margin-left: 1rem;
}

.not-underline {
    text-decoration: none !important;
}

.cursor-disabled {
  cursor: not-allowed;
}

.custom-hover-underline:hover span {
  text-decoration: none;
  border-bottom: 2px solid $black;
}

.custom-underline span {
  text-decoration: none;
  border-bottom: 2px solid $black;
}
