{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ "AboutTheMovement"|trans }}{% endblock %}

{% block cardContent %}
    <div>
        <span>Partie en cours de rédaction.</span>
    </div>
{% endblock %}
