{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ "AboutTheMovement"|trans }}{% endblock %}

{% block cardContent %}
    <div>
        <h5 class="mt-4">A propos du mouvement des Gilets jaunes</h5>
        Si vous souhaitez en savoir plus sur ce mouvement, ces ressources nous apparaissent fidèles et pertinentes :
    </div>
{% endblock %}
