{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ "AboutLRP"|trans }}{% endblock %}

{% block cardContent %}
    <div class="mt-3">
        Ces personnes, collectifs et associations nous sont proches, n’hésitez pas à leur rendre visite !
        <b>Y'a plus qu'à</b> - Blog/JournalMural marginal de littérature sauvage intime éthique et politique
        <a href="https://www.yaplusqua.org/" class="link-dark" target="_blank">https://www.yaplusqua.org/</a>
    </div>
{% endblock %}
