{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ "AboutLRP"|trans }}{% endblock %}
{% block cardTitle %}{% endblock %}

{% block cardContent %}
    <div>
        <h3 class="mt-4">Autour du Rond-point</h3>
        Ces personnes, collectifs et associations nous sont proches, n’hésitez pas à leur rendre visite !
        <b>Y'a plus qu'à</b> - Blog/JournalMural marginal de littérature sauvage intime éthique et politique
        <a href="https://www.yaplusqua.org/" class="link-dark" target="_blank">https://www.yaplusqua.org/</a>
    </div>
{% endblock %}
