{% extends 'base.html.twig' %}

{% block title %}{{ "AboutUs"|trans }}{% endblock %}

{% block content %}
    <div class="row bg-light h-100 p-2">
        <div>{{ include('components/_back.html.twig') }}</div>
        <h1 class="col-12 text-dark">Cette page est en cours de rédaction</h1>
    </div>
{% endblock %}
