{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ "WhoAreWe"|trans }}{% endblock %}

{% block cardContent %}
    <div>
        <h5 class="mt-4">Notre collectif</h5>
        <span>Nous sommes un collectif, créé au début de l’année 2024, réunissant des Gilets jaunes issus des quatre coins de la France. Nous nous sommes rencontré.es au fil des mois et des années, sur un rond-point, dans la rue lors d’une manifestation, ou lors d’une Assemblée des assemblées. Nos expériences et ces liens construits avec le temps ont permis à ce projet de voir le jour.</span>
        <h5 class="mt-4">C'est quoi le-rondpoint.org ?</h5>
        Ce site internet met en lumière une <b>mémoire vivante</b> du mouvement des Gilets jaunes, ainsi que ses <b>suites</b>. C’est un outil participatif, nourri par les personnes ayant participé au mouvement ou qui en ont été proches.
        Ce site rassemble et organise des <b>Traces</b> produites lors du mouvement. Ce sont autant : les doléances qui nous ont été volées, les chansons que nous avons scandées, les tracts et les journaux que nous avons imprimés, les banderoles que nous avons brandies, et tant d’autres choses qui racontent ce mouvement.
        Toutes ces traces sont dispersées, peu visibles, et vouées à se perdre avec le temps. Rassemblons-les et rendons-les visibles ! (lien hypertexte)
        <b>Et maintenant ?</b> avec ou sans gilet, des groupes continuent de se retrouver sur des ronds-points, alors que d'autres ont évolué vers d'autres formes : actions de solidarité, animation d'un lieu, tractage, jardin partagé, etc. Ce site propose à ces groupes encore actifs d’apparaître sur une carte afin de mettre en lumière leur histoire et leurs actions.
        Dans l’espoir que l’histoire des Gilets jaunes ne soit pas déformée ou détournée, nous souhaitons transmettre un peu de la puissance, de la joie, de la créativité et de l’inspiration que ce soulèvement a produit. La mémoire vivante des Gilets jaunes est un outil nécessaire pour renforcer nos luttes présentes et futures vers l’émancipation.
        <h5 class="mt-4">Crédits et soutiens</h5>
        Ce site a été conçu par notre collectif, accompagné d’Adrien Zammit (<a href="https://filloque-zammit.net" class="link-dark" target="_blank">https://filloque-zammit.net</a>) pour le dessin et la mise en page, et Thibaut Cheymol pour le développement technique. Il est hébergé en France par OVH.
        En plus de l’investissement bénévole de notre collectif, ce site internet a pu voir le jour grâce à un soutien de la <i>Fondation Danielle Mitterrand - France Libertés</i> et un don de l’association <i>Les Lucioles du Doc</i>. Ces soutiens nous ont permis de rémunérer plusieurs personnes et de payer les différents frais inhérents à la fabrication et l’hébergement du site internet.
        Notre collectif est totalement indépendant et n’est lié à aucune organisation politique ou de toute autre nature.
    </div>
{% endblock %}
