{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ "TheyTalkAboutUs"|trans }}{% endblock %}

{% block cardContent %}
    <div>
        <h3 class="mt-4">On parle de nous</h3>
    </div>
{% endblock %}
