{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <p class="text-center text-lg">{{ 'TrackRejectedSubtitle'|trans({ '%trackName%': track.name }) }}</p>
                {% if track.rejectionCause %}
                    <p class="text-center text-lg">
                        {{ 'TrackRejectedCauseSubtitle'|trans({ '%rejectionCause%': track.rejectionCause.name }) }}
                    </p>
                {% endif %}
            </columns>
        </row>
        {{ include('moderation/signature.html.twig') }}
    </container>
{% endapply %}
