<div
        class="d-flex align-items-center position-relative"
        style="transform: rotate(-5deg); top: -25px;"
>
    <img class="home-title" src="{{ asset('images/le-rond-point.png') }}" alt="{{ 'HomeTitle'|trans }}">
</div>
