<div class="d-flex align-items-center flex-column justify-content-center position-relative">
    <div class="position-relative">
        <div class="bg-white rounded-5 text-dark shadow cloudy-sm position-absolute w-100" style="height: 70px"></div>
        <h1 class="text-center text-uppercase mb-0 text-dark position-relative p-3">{{ 'HomeTitle'|trans }}</h1>
    </div>
    <div class="bg-white rounded-5 text-dark mt-3 shadow">
        <p class="text-center fs-xs mb-0">{{ 'HomeSubtitle'|trans }}</p>
    </div>
</div>