<div class="d-flex align-items-center flex-column justify-content-center">
    <img class="home-title" src="{{ asset('images/hometitle.png') }}" alt="{{ 'HomeTitle'|trans }}">
    <div class="bg-white rounded-5 text-dark mt-3 shadow">
        <p class="text-center fs-xs mb-0">{{ 'HomeSubtitle'|trans }}</p>
    </div>
</div>