<div class="text-start ps-2 pt-2">
    <a class="btn btn-dark" {{ stimulus_controller('back')|stimulus_action('back', 'back') }}>
        <i class="fa fa-reply me-2"></i>
        {{ 'Back'|trans }}
    </a>
</div>
