<div
        id="fullscreenLoader"
        class="position-fixed vh-100 vw-100 d-none z-max"
        style="background-color: rgba(52, 73, 94,0.5)"
>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div
                class="spinner-border text-primary"
                style="width: 5rem; height: 5rem"
                role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>