<a class="d-flex flex-grow-1 align-items-center justify-content-center px-3
            nav-link hover-underline bg-{{ color }} fs-5
            "
   href="{{ url }}"
>
    {% if icon is defined %}<i class="fa fa-{{ icon }} me-2"></i>{% endif %}
    {{ label }}
</a>