<a class="d-flex flex-grow-1 align-items-center justify-content-center
            nav-link hover-underline bg-{{ color }} fs-5 hoverable-{{ color }}
            "
   href="{{ url }}"
>{{ label }}</a>