<turbo-frame id="attachments_previews">
    {% set attachmentIds = attachments|map(a => a.id)|join(',') %}
    <div class="row">
        {% for attachment in attachments %}
            {% set thumbUrl = get_thumb_url(attachment) %}
            {% set isCover = cover and cover.id == attachment.id %}
            <div class="col mt-2">
                    <div class="img-thumbnail thumbnail position-relative" style="background-image: url('{{ thumbUrl }}');">
                        {% if isCover %}
                            <div class="alert alert-primary bottom-left w-100 mb-0 p-1 rounded-1">
                                {{ 'Cover'|trans }}
                            </div>
                        {% endif %}
                        <a href="{{ path('delete_attachment', {id: attachment.id, attachmentIds}) }}" class="btn btn-danger btn-sm position-absolute" style="top: 5px; right: 5px;">
                            <i class="fa-solid fa-trash-alt"></i>
                        </a>
                    </div>
            </div>
        {% endfor %}
    </div>
</turbo-frame>
