{% extends 'templates/base.html.twig' %}

{% block title %}
    {{ 'Error404'|trans }}
{% endblock %}

{% block bodybg %}light{% endblock %}

{% block content %}
    <div
        class="h-100 w-100"
        style="
            background-image: url('{{ asset('images/404.png') }}');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            }
            "
    >
    </div>
{% endblock %}
