{% if track.attachments|length > 1 %}
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i class="fa fa-angle-double-left"></i>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
{% endif %}
