<div class="position-relative h-100">
    {% if attachment.isCover and is_granted('EDIT', track)%}
        <div class="position-absolute alert alert-primary mb-0 p-1 rounded-1 ms-2"
             style="left: calc(50% - 50px); bottom: 8px;"
        >
            {{ 'Cover'|trans }}
        </div>
    {% endif %}
    {{ include('track/components/glider/_moderation_remove_track_attachment.html.twig', {attachment}) }}
    {{ include('track/components/preview/_full_preview.html.twig', {attachment}) }}
</div>
